.work-experience-card {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 10px;
  width: 300px;
  height: 200px;
}
.modal-backdrop {
  opacity: 0.5;
}

.btn-funky-moon {
  background: #A770EF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}
.fade {
  transition: opacity 0.5s;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.modal-body {
  font-size: 16px;
}

.modal.fade .modal-dialog {
  transform: translate(0, -50%);
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.modal.fade.show .modal-dialog {
  transform: translate(0, 0);
  opacity: 1;
}

.modal-open {
  filter: blur(5px);
}
.blur-background {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}
.custom-image {
  max-width: 100%;
  height: 250px;
}
